body{
    background-color: #b5b5b5 !important;
	
}
html{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
	text-align: center;
}
/* #locateBtn, #unitBtn {
	background-color: #86B9E0;
	border: 1px solid rgba(255,255,255,0.25);
	border-radius: 50%;
	color: #fff;
	height: 40px;
	width: 40px;
} */
#title{
	display: inline;
	font-weight: bold;
	color: #52b3b5;
}
#search_block{
	float: right;
	margin: 15px;
}
header{
	background-color: #d6d6d6;
	padding-bottom: 15px;
	padding-left: 25px;
}
#menu{
	height: 60px;
	background-color: #232323;
	text-align: center;
}
#menu button{
	background-color: inherit;
	margin-left: 40px;
	height: inherit;
	color: white;
	border: none;
}
main{
	width: 100vw;
	height: 80vh;
}
#today_current_block{
	margin: 30px;
	background-color: #e2e2e2;
	height: 20%;
}
#today_hourly{
	margin: 30px;
	background-color: #e2e2e2;
	height: 55%;
}
#today_nearby_places{
	margin: 30px;
	background-color: #e2e2e2;
	height: 20%;
}
#current_title{
	margin: 5px;
	margin-left: 15px;
	float: left;
	font-weight: bold;
	color: #52b3b5;
}
#current_date{
	float: right;
	margin: 5px;
	margin-right: 15px;
	font-weight: bold;
	color: #52b3b5;
}
#current_title_block{
	height: 10px;
	display: block;
}
#icon{
	text-align: center;
}
#today_current_block #info_block{
	margin-top: 20px;
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-around;
}
/* #today_current_block img{
	height: 90%;
} */
#today_current_block #temp_block p{
	margin-bottom: 5px;
}
#icon_block{
	float: left;
}
#today_hourly table{
	width: 100%;
}
#today_hourly table td{
	padding: 10px;
}
#today_hourly table tr:not(:nth-child(-n+2)){
	border-bottom: 1px solid #eeeeee;
}
#nearby_place{
	width: 300px;
	height: 60px;
	background-color: #b5b5b5;
	margin-left: 5px;
	margin-right: 5px;
} 
#nearby_places_block{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}